<H1>This First Heading <div class="d-inline-fliex p-2">
        <font color="grey">Will Catch Your Eye</font>
    </div>
</H1>
<div class="d-flex">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta adipisci atque architecto, tempora a odit et
        consequuntur in corporis praesentium, at id fuga ea accusamus, ad dolore aliquid. Magnam, odit.</div>
</div>

<img src="./assets/img/1.jpg" width="300px" height="300px" class="rounded float-center rounded-circle" alt="..">

<p2>
    <font color="red">first reading.html </font>
</p2>