<!-- your html code here -->
 
    <h2> Porfolio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel dolor id metus dictum congue ut eu libero. Donec nec est ligula. Sed consequat nunc non volutpat venenatis. Phasellus augue lorem, volutpat sed tempor et, tempor sit amet felis.</p>
    <div class="card-group ">
        <div class="card p-4 border-0">
          <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel dolor id metus dictum congue ut eu libero. Donec nec est ligula. Sed consequat nunc non volutpat venenatis. Phasellus augue lorem, volutpat sed tempor et, tempor sit amet felis.</p>
            
          </div>
        </div>
        <div class="card p-4 border-0">
          <img src="./assets/img/big-project-image.png"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel dolor id metus dictum congue ut eu libero. Donec nec est ligula. Sed consequat nunc non volutpat venenatis. Phasellus augue lorem, volutpat sed tempor et, tempor sit amet felis.</p>
            
          </div>
        </div>
        <div class="card p-4 border-0">
          <img src="./assets/img/big-project-image.png"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel dolor id metus dictum congue ut eu libero. Donec nec est ligula. Sed consequat nunc non volutpat venenatis. Phasellus augue lorem, volutpat sed tempor et, tempor sit amet felis.</p>
            
          </div>
        </div>
      </div>
   

