<!-- your html code here -->
<div class="d-flex justify-content-start">
        <img src="./assets/img/2.jpg" class="rounded float-start rounded-circle" alt="...">

        <div>
            <h2>The Second Heading <span class= "text-secondary">Is Pretty Cool Too.</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel dolor id metus dictum congue ut eu libero. Donec nec est ligula. Sed consequat nunc non volutpat venenatis. Phasellus augue lorem, volutpat sed tempor et, tempor sit amet felis. In hac habitasse platea dictumst. Donec justo sapien, tincidunt a arcu id, pretium pretium tellus. </p>
        </div>
</div>
